.box__brand-info .list__brand{
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.box__brand-info .list__brand .list-item{
    position: relative;
    display: flex;
    align-items: center;
    grid-column: span 1;
    grid-row: span 1;
    min-height: 48px;
    padding: 4px 0;
    margin: 0;
    border-bottom: 1px solid #eee;
    list-style: none;
}
.box__brand-info .list__brand .list-item:nth-child(2n-1){
    border-right:1px solid #eee;
}
.box__brand-info .list__brand .list-item .form__label{
    display: block;
    padding: 0 20px 0 44px;
    font-size: 14px;
    line-height: 20px;
    color: #2c2c2c;
    cursor: pointer;
    word-break: break-all;
}
.box__brand-info .list__brand .list-item .form__label:before{
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-position: -22px -124px;
    content: '';
    background: url("//script.gmarket.co.kr/build/mobile/image/sprite/fashionsquare/sp-fashionsquare.png?v=1720585767918") no-repeat;
    display: inline-block;
    overflow: hidden;
}
.box__brand-info .list__brand .list-item .form__checkbox{
    position: absolute;
    left: 17px;
    width: 18px;
    height: 18px;
}
.box__brand-info .list__brand .list-item .form__checkbox[checked] .form__label:before{
    width: 20px;
    height: 20px;
    background-position: 0px -124px;
}
.box__brand-info .box__brand-notice{
    padding: 76px 0 78px;
    font-size: 14px;
    color: #616161;
    line-height: 20px;
    text-align: center
}
.box__brand-info .box__brand-notice .text{
    margin-bottom: 8px;
    font-size: 16px;
    color: #2c2c2c;
    line-height: 22px;
}