.box__category-wrap{
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #fff;
}

.box__category-wrap .button__category{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 74px;
    height: 99px;
    text-align: center;
    font-size: 12px;
    color: #2c2c2c;
    background-color: #fff;
    z-index: 11;
}
.box__category-wrap .list__category{
    position: relative;
    overflow-x: auto;
    margin-left: 74px;
    z-index: 10;
    white-space: nowrap;
    font-size: 0;
}
.box__category-wrap .list__category .list-item{
    display: inline-block;
    vertical-align: top;
    width: 66px;
    height: 99px;
    marker: none;
    padding-left: 5px;
}
.box__category-wrap .list__category .link__category{
    display: block;
    width: 66px;
    height: 99px;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    text-decoration-line:none
}
.box__category-wrap .list__category .link__category .box__category-image{
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    overflow: hidden;
    margin: 0 auto 4px;
}
.box__category-wrap .list__category .image{
    width: 100%;
    height: 100%;
}
.box__category-wrap .list__category .text__title{
    letter-spacing: -1px;
    font-size: 12px;
    color: #2c2c2c;
}

.box__category-wrap .link__category--active .text__title{
    font-weight: bold;
    color: #5855e2;
}
/* .box__category-wrap .list__category .link__category--active::after */
.box__category-wrap .box__category-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #5855e2;
}